.App{
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: repeat(12,1fr);
    height:100%;
    width: 100%;
}

.App > .Header{
    grid-column: 12 span;
}

.App > .Main{
    grid-column: 12 span;
}

.App > .Footer{
    grid-column: 12 span;
}