body {
  background-color: salmon;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  font-size: large;
}

.image-distance {
  margin: 2px;
  padding: 2px;
}

.box {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
  background-color: #F1E1A6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

form{
  text-align: center;
}

input[type=text], input[type=date] {
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
}

.button-app {
  width: 150px;
  height: 30px;
  background-color: #226639;
  color: white;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}

.button-app:hover {
  background-color: rgb(84, 129, 99);
  color:white;
}

.span-errors{
  color: red;
  font-weight: 700;
}